.el-color-picker__trigger {
  border: none;
}

.el-color-picker {
  vertical-align: middle;
}

.el-dropdown-item {
  width: 25px !important;
  height: 25px  !important;
  margin-top: 5px;
  border-radius: 5px;
}

.el-dropdown-link {
  display: inline-block;
  min-width: 30px;
  line-height: 22px;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
}
